In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('/content/train.csv')

In [3]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [4]:
# Find all missing values in all columns.
missing_values = df.isna().sum()

In [5]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Load the dataset
df = pd.read_csv('/content/train.csv')

# Create a SimpleImputer for both categorical and numerical columns
imputer = SimpleImputer(strategy='most_frequent')  # For categorical columns
df[df.select_dtypes(include=['object']).columns] = imputer.fit_transform(df.select_dtypes(include=['object']))

imputer = SimpleImputer(strategy='mean')  # For numerical columns
df[df.select_dtypes(include=['number']).columns] = imputer.fit_transform(df.select_dtypes(include=['number']))

# Save the cleaned dataset
df.to_csv('cleaned_dataset.csv', index=False)

In [6]:
df.head(20)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1.0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015.0,41000.0,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,2.0,Honda Jazz V,Chennai,2011.0,46000.0,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3.0,Maruti Ertiga VDI,Chennai,2012.0,87000.0,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,4.0,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013.0,40670.0,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,6.0,Nissan Micra Diesel XV,Jaipur,2013.0,86999.0,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50
5,7.0,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016.0,36000.0,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8.0,Volkswagen Vento Diesel Comfortline,Pune,2013.0,64430.0,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,5.20
7,9.0,Tata Indica Vista Quadrajet LS,Chennai,2012.0,65932.0,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,1.95
8,10.0,Maruti Ciaz Zeta,Kochi,2018.0,25692.0,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11.0,Honda City 1.5 V AT Sunroof,Kolkata,2012.0,60000.0,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.49
10,12.0,Maruti Swift VDI BSIV,Jaipur,2015.0,64424.0,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.60
11,13.0,Land Rover Range Rover 2.2L Pure,Delhi,2014.0,72000.0,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,4.78 Lakh,27.00
12,14.0,Land Rover Freelander 2 TD4 SE,Pune,2012.0,85000.0,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,4.78 Lakh,17.50
13,15.0,Mitsubishi Pajero Sport 4X4,Delhi,2014.0,110000.0,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
14,16.0,Honda Amaze S i-Dtech,Kochi,2016.0,58950.0,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,4.78 Lakh,5.40
15,17.0,Maruti Swift DDiS VDI,Jaipur,2017.0,25000.0,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.99
16,18.0,Renault Duster 85PS Diesel RxL Plus,Kochi,2014.0,77469.0,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,4.78 Lakh,6.34
17,19.0,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014.0,78500.0,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,4.78 Lakh,28.00
18,20.0,BMW 3 Series 320d,Kochi,2014.0,32982.0,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
19,21.0,Maruti S Cross DDiS 200 Alpha,Bangalore,2015.0,55392.0,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,4.78 Lakh,8.25

In [7]:
df.to_csv('/content/cleaned_dataset.csv', index=False)

b) Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [8]:
clean_data = pd.read_csv('/content/cleaned_dataset.csv')

In [9]:
import pandas as pd

# Load the dataset
clean_data = pd.read_csv('/content/cleaned_dataset.csv')

# Define a dictionary to map units to empty strings for each column
unit_mapping = {
    'Mileage': ['kmpl', 'km/kg'],
    'Engine': ['CC'],
    'Power': ['bhp'],
    'New_Price': ['Lakh', 'Cr']
}

# Iterate through columns and remove units using a loop
for column, units in unit_mapping.items():
    for unit in units:
        clean_data[column] = clean_data[column].str.replace(unit, '')

# Convert the cleaned columns to float
columns_to_clean = ['Mileage', 'Engine', 'Power', 'New_Price']
clean_data[columns_to_clean] = clean_data[columns_to_clean].astype(float)

In [10]:
clean_data.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1.0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015.0,41000.0,Diesel,Manual,First,19.67,1582.0,126.20,5.0,4.78,12.50
1,2.0,Honda Jazz V,Chennai,2011.0,46000.0,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3.0,Maruti Ertiga VDI,Chennai,2012.0,87000.0,Diesel,Manual,First,20.77,1248.0,88.76,7.0,4.78,6.00
3,4.0,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013.0,40670.0,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,4.78,17.74
4,6.0,Nissan Micra Diesel XV,Jaipur,2013.0,86999.0,Diesel,Manual,First,23.08,1461.0,63.10,5.0,4.78,3.50
5,7.0,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016.0,36000.0,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,21.00,17.50
6,8.0,Volkswagen Vento Diesel Comfortline,Pune,2013.0,64430.0,Diesel,Manual,First,20.54,1598.0,103.60,5.0,4.78,5.20
7,9.0,Tata Indica Vista Quadrajet LS,Chennai,2012.0,65932.0,Diesel,Manual,Second,22.30,1248.0,74.00,5.0,4.78,1.95
8,10.0,Maruti Ciaz Zeta,Kochi,2018.0,25692.0,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
9,11.0,Honda City 1.5 V AT Sunroof,Kolkata,2012.0,60000.0,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,4.78,4.49

c) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [11]:
import pandas as pd


# List of columns to one-time encode
categorical_columns = ['Fuel_Type', 'Transmission']

# Perform one-hot encoding using Pandas
for column in categorical_columns:
    dummies = pd.get_dummies(clean_data[column], prefix=column)
    clean_data = pd.concat([clean_data, dummies], axis=1)
    clean_data.drop(column, axis=1, inplace=True)

# Save the dataset with one-hot encoded variables
clean_data.to_csv('dataset_with_one_hot_encoding.csv', index=False)

In [12]:
clean_data.head(30)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1.0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015.0,41000.0,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1
1,2.0,Honda Jazz V,Chennai,2011.0,46000.0,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1
2,3.0,Maruti Ertiga VDI,Chennai,2012.0,87000.0,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1
3,4.0,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013.0,40670.0,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0
4,6.0,Nissan Micra Diesel XV,Jaipur,2013.0,86999.0,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1
5,7.0,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016.0,36000.0,First,11.36,2755.0,171.50,8.0,21.00,17.50,1,0,0,1,0
6,8.0,Volkswagen Vento Diesel Comfortline,Pune,2013.0,64430.0,First,20.54,1598.0,103.60,5.0,4.78,5.20,1,0,0,0,1
7,9.0,Tata Indica Vista Quadrajet LS,Chennai,2012.0,65932.0,Second,22.30,1248.0,74.00,5.0,4.78,1.95,1,0,0,0,1
8,10.0,Maruti Ciaz Zeta,Kochi,2018.0,25692.0,First,21.56,1462.0,103.25,5.0,10.65,9.95,0,0,1,0,1
9,11.0,Honda City 1.5 V AT Sunroof,Kolkata,2012.0,60000.0,First,16.80,1497.0,116.30,5.0,4.78,4.49,0,0,1,1,0
10,12.0,Maruti Swift VDI BSIV,Jaipur,2015.0,64424.0,First,25.20,1248.0,74.00,5.0,4.78,5.60,1,0,0,0,1
11,13.0,Land Rover Range Rover 2.2L Pure,Delhi,2014.0,72000.0,First,12.70,2179.0,187.70,5.0,4.78,27.00,1,0,0,1,0
12,14.0,Land Rover Freelander 2 TD4 SE,Pune,2012.0,85000.0,Second,0.00,2179.0,115.00,5.0,4.78,17.50,1,0,0,1,0
13,15.0,Mitsubishi Pajero Sport 4X4,Delhi,2014.0,110000.0,First,13.50,2477.0,175.56,7.0,32.01,15.00,1,0,0,0,1
14,16.0,Honda Amaze S i-Dtech,Kochi,2016.0,58950.0,First,25.80,1498.0,98.60,5.0,4.78,5.40,1,0,0,0,1
15,17.0,Maruti Swift DDiS VDI,Jaipur,2017.0,25000.0,First,28.40,1248.0,74.00,5.0,4.78,5.99,1,0,0,0,1
16,18.0,Renault Duster 85PS Diesel RxL Plus,Kochi,2014.0,77469.0,First,20.45,1461.0,83.80,5.0,4.78,6.34,1,0,0,0,1
17,19.0,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014.0,78500.0,First,14.84,2143.0,167.62,5.0,4.78,28.00,1,0,0,1,0
18,20.0,BMW 3 Series 320d,Kochi,2014.0,32982.0,First,22.69,1995.0,190.00,5.0,47.87,18.55,1,0,0,1,0
19,21.0,Maruti S Cross DDiS 200 Alpha,Bangalore,2015.0,55392.0,Second,23.65,1248.0,88.50,5.0,4.78,8.25,1,0,0,0,1
20,22.0,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015.0,55985.0,First,13.53,1984.0,177.01,5.0,4.78,23.50,0,0,1,1,0
21,23.0,Hyundai i20 1.2 Magna,Kolkata,2010.0,45807.0,First,18.50,1197.0,80.00,5.0,4.78,1.87,0,0,1,0,1
22,24.0,Volkswagen Vento Petrol Highline AT,Kolkata,2010.0,33000.0,First,14.40,1598.0,103.60,5.0,4.78,2.85,0,0,1,1,0
23,25.0,Honda City Corporate Edition,Mumbai,2012.0,51920.0,First,16.80,1497.0,116.30,5.0,4.78,4.25,0,0,1,0,1
24,26.0,Nissan Micra Diesel XV,Hyderabad,2012.0,54000.0,First,16.48,1461.0,63.10,5.0,4.78,4.25,1,0,0,0,1
25,27.0,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013.0,54000.0,Second,20.92,998.0,67.10,5.0,4.78,2.75,0,0,1,0,1
26,28.0,Honda WRV i-VTEC VX,Kochi,2018.0,37430.0,First,17.50,1199.0,88.70,5.0,10.57,9.90,0,0,1,0,1
27,29.0,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007.0,262000.0,Fourth & Above,12.80,2494.0,102.00,7.0,4.78,4.00,1,0,0,0,1
28,30.0,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013.0,62000.0,First,19.01,1461.0,108.45,5.0,4.78,7.75,1,0,0,0,1
29,31.0,Toyota Corolla Altis G,Delhi,2012.0,87615.0,First,14.53,1798.0,138.10,5.0,4.78,6.75,0,0,1,0,1

d) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [14]:
# Find all missing values in all columns.
current_year = datetime.datetime.now().year

In [18]:
import pandas as pd
from datetime import datetime

# Loading  the dataset
clean_data = pd.read_csv('/content/cleaned_dataset.csv')

# Convert the 'Year' column to a datetime format.
clean_data['Year'] = pd.to_datetime(clean_data['Year'], format='%Y')

# Determine the vehicle's current age.
current_date = datetime.now()
clean_data['Current_Age'] = (current_date - clean_data['Year']).dt.days // 365

# Save the dataset with the new 'Current_Age' feature
clean_data.to_csv('dataset_with_current_age.csv', index=False)

In [19]:
clean_data.head(30)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Current_Age
0,1.0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015-01-01,41000.0,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50,8
1,2.0,Honda Jazz V,Chennai,2011-01-01,46000.0,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,12
2,3.0,Maruti Ertiga VDI,Chennai,2012-01-01,87000.0,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00,11
3,4.0,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013-01-01,40670.0,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74,10
4,6.0,Nissan Micra Diesel XV,Jaipur,2013-01-01,86999.0,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50,10
5,7.0,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016-01-01,36000.0,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,7
6,8.0,Volkswagen Vento Diesel Comfortline,Pune,2013-01-01,64430.0,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,5.20,10
7,9.0,Tata Indica Vista Quadrajet LS,Chennai,2012-01-01,65932.0,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,1.95,11
8,10.0,Maruti Ciaz Zeta,Kochi,2018-01-01,25692.0,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,5
9,11.0,Honda City 1.5 V AT Sunroof,Kolkata,2012-01-01,60000.0,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.49,11
10,12.0,Maruti Swift VDI BSIV,Jaipur,2015-01-01,64424.0,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.60,8
11,13.0,Land Rover Range Rover 2.2L Pure,Delhi,2014-01-01,72000.0,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,4.78 Lakh,27.00,9
12,14.0,Land Rover Freelander 2 TD4 SE,Pune,2012-01-01,85000.0,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,4.78 Lakh,17.50,11
13,15.0,Mitsubishi Pajero Sport 4X4,Delhi,2014-01-01,110000.0,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,9
14,16.0,Honda Amaze S i-Dtech,Kochi,2016-01-01,58950.0,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,4.78 Lakh,5.40,7
15,17.0,Maruti Swift DDiS VDI,Jaipur,2017-01-01,25000.0,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.99,6
16,18.0,Renault Duster 85PS Diesel RxL Plus,Kochi,2014-01-01,77469.0,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,4.78 Lakh,6.34,9
17,19.0,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014-01-01,78500.0,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,4.78 Lakh,28.00,9
18,20.0,BMW 3 Series 320d,Kochi,2014-01-01,32982.0,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,9
19,21.0,Maruti S Cross DDiS 200 Alpha,Bangalore,2015-01-01,55392.0,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,4.78 Lakh,8.25,8
20,22.0,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015-01-01,55985.0,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,4.78 Lakh,23.50,8
21,23.0,Hyundai i20 1.2 Magna,Kolkata,2010-01-01,45807.0,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,4.78 Lakh,1.87,13
22,24.0,Volkswagen Vento Petrol Highline AT,Kolkata,2010-01-01,33000.0,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,2.85,13
23,25.0,Honda City Corporate Edition,Mumbai,2012-01-01,51920.0,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.25,11
24,26.0,Nissan Micra Diesel XV,Hyderabad,2012-01-01,54000.0,Diesel,Manual,First,16.48 km/kg,1461 CC,63.1 bhp,5.0,4.78 Lakh,4.25,11
25,27.0,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013-01-01,54000.0,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,4.78 Lakh,2.75,10
26,28.0,Honda WRV i-VTEC VX,Kochi,2018-01-01,37430.0,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh,9.90,5
27,29.0,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007-01-01,262000.0,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,4.78 Lakh,4.00,16
28,30.0,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013-01-01,62000.0,Diesel,Manual,First,19.01 kmpl,1461 CC,108.45 bhp,5.0,4.78 Lakh,7.75,10
29,31.0,Toyota Corolla Altis G,Delhi,2012-01-01,87615.0,Petrol,Manual,First,14.53 kmpl,1798 CC,138.1 bhp,5.0,4.78 Lakh,6.75,11